<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpConnect - Volunteers</title>
    <link rel="stylesheet" href="style-pomagashti.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

 <body>
    <header>
        <div class="header-content">
            <i class="fa-solid fa-heart-pulse"></i>
            <span>HelpConnect™</span>
        </div>
    </header>
    <main>

         <h1>Post a new request</h1>

               <p class="subtitle">On what dates are you available?</p>
               <div class="input-group">
                <input type="text" id="name" placeholder="dd.mm.yy ">
               </div>

               <p class="subtitle">Location</p>
               <div class="input-group">
                <input type="text" id="name" placeholder=" e.g. Sofia, J.K Durvenica, ul. Durvenica Blok 16, Vhod A">
               </div>

               <p class="subtitle">Schedule - Start</p>
               <div class="input-group">
                <input type="text" id="name" placeholder="--:--">
               </div>

               <p class="subtitle">Schadule - End</p>
               <div class="input-group">
                <input type="text" id="name" placeholder="--:--">
               </div>

               <button>Save Schedule Entry</button>

               <h3>Your Schedule</h3>

        </div>
    </main>

    <footer>
        HelpConnect © 2026 - Assisting People with Disabilities
    </footer>

    </body>

</html>
