<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpConnect - Need help</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<header>
    <div class="header-content">
        <i class="fa-solid fa-heart-pulse"></i>
        <span>HelpConnect™</span>
    </div>
</header>
<main>
    <i class="fa-regular fa-circle-user"></i>
    <h1>name</h1>
    <hr>
    <h2>bio</h2>
</main>
</body>
</html>